<%- include('partials/header') %>
</head>
<body>
<%- include('partials/nav') %>

<div class="products-container">
  <h1 class="center">Our Products</h1>

  <div class="all-products products-grid">
    <% products.forEach(function(product) { %>
    
      <div class="shop-product">      
      <div><img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>"/></div>
      <div><%=product.title%></div>
      <div><%=product.quantity%> in stock</div>
      <div><%=product.price%>$</div>
  
          <a href="cart/add/<%=product._id%>" class="btn btn-float">
              <i class="fa-solid fa-cart-plus"></i>
          </a>
          
      </div>
    <% }) %>
   
  </div>
</div>

<%- include('partials/footer') %>