<%- include('partials/header') %>
</head>
<body>
<h1>products</h1>
<table class="all-products">
    
    <tbody>
  <% products.forEach(function(product) { %>
  <tr class="product">
    
      <td><img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>"/></td>
    <td><%=product.title%></td>
    <td><%=product.quantity%> in stock</td>
    <td><%=product.price%>$</td>

      <td class="btns">
        <a href="cart/add/<%=product._id%>" class="btn btn-float">
            <i class="fa-solid fa-cart-plus"></i>
        </a>

    </td>
      
  </tr>
  <% }) %>
</div>

<%- include('partials/footer') %>